<h3>Sign In</h3>
<form action="/admin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" placeholder="Enter Username">

    <label for="password"><b>Password</b></label>
    <input type="text" name="password" placeholder="Enter Password">

    <input type="submit" value="login" class="btn">
</form>

<!-- <h3>Register</h3>
<form action="/register" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" placeholder="Create Username">

    <label for="password"><b>Password</b></label>
    <input type="text" name="password" placeholder="Create Password">

    <input type="submit" value="register" class="btn">
</form> -->