<div class="author">
    <h1 class="author__heading">
        Hi, I am Krrish Halder
    </h1>
    <p class="author__body">Web Developer and Programmer</p>
</div>

<img src="/images/hero-image.webp" alt="Person looking at window" class="hero-image" width="981" height="528">

<secion class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul>
        <li><a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a></li>
    </ul>

    <a href="#" class="pagination">&lt; View older posts </a>
</secion>